@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-color: #4e8dda;
        /* --main-color: #313438; */
        /* --main-color: #e7a83a; */
        --headlight-color: #fed386;
        --chart-color:#f26f10;


    }
}

/* ********************** custom css CLass */
@layer components {

    .__light-shade{
     @apply bg-white  bg-opacity-20 
  
    }
    .__dark-shade{
   
     @apply bg-black bg-opacity-[8%]
    }

    .__container{

    }

}